body {
    background-color: #121212;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #121212;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
}

.title1 {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15vh;
    color: rgb(255, 68, 68);
    font-size: 5.5vh;
}

.profile {
    display: flex;
}

.profile p {
    display: inline-block;
    color: whitesmoke;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5vh;
    font-size: 3vh;
    line-height: 2;
    text-align: justify;
    transform: translateY(100px);
    outline-color: rgb(255, 68, 68);
    outline-style:double;
    height: fit-content !important;
}

.profilepic {
    margin-left: 15vh;
    margin-bottom: 15vh;
    -webkit-filter: drop-shadow(1px 1px 0 rgb(19, 19, 19)) 
                    drop-shadow(-1px -1px 0 rgb(255, 68, 68));
    filter:drop-shadow(1px 1px 0 rgb(19,19,19)) 
           drop-shadow(-1px -1px 0 rgb(255, 68, 68));
}

.subtitle1 {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15vh;
    color: rgb(165, 44, 44);
    font-size: 3.5vh;
    transform: translateY(5vh);
}

.table {
    margin: 3vh;
    display: grid;
    place-content: center;
}

.software {
    font-family: 'Montserrat', sans-serif;
    margin-left: 17vh;
    color: whitesmoke;
    font-size: 2.5vh;
    line-height: 1.5;
}

.softwaretitle {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20vh;
    color: rgb(250, 126, 126);
    font-size: 3vh;
}

.pdf {
    margin-left: 17vh;
}

.form {
    transform: translateY(-5.5vh);
    font-size: 3vh;
    margin-left: 17vh;
    color: whitesmoke;
    line-height: 2;
    max-width: fit-content;
}

.comment {
    transform: translateY(-5vh);
    margin-left: 17vh;
    background-color: #FA7E7E;
    border: 5px outset #922727;
}

h1 {
    font-size: 8vh;
    color: rgba(255, 255, 255, 0.884);
    position: relative;
    font-family: 'Montserrat', sans-serif;
} 

h1::before,
h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before {
    background-color: #121212;
    animation: typewriter 2s steps(28) 1s forwards;
}

h1::after {
    width: .125em;
    background: rgb(250, 247, 247);
    animation: 
        typewriter 2s steps(28) 1s forwards,
        blink 750ms steps(28) infinite;
}

.subtitle {
    color: rgb(255, 68, 68);
    font-size: 4vh;
    font-weight: 200;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 3s forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}